.review-card {
  max-width: 500px;
  margin: 0 auto;
  font-size: 14px;
}

.profile-img {
  width: 50px !important;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.quote-icon {
  font-size: 1.5rem;
  color: #4285f4;
}

.star-rating {
  color: #ffc107;
}

.google-logo {
  width: 30px;
  height: 30px;
}

.text-end {
  border-left: solid 1px #ddd;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 84px;
}

.owl-carousel .owl-stage-outer {
  padding: 20px 0px;
}

.owl-carousel .owl-item.active {
  transform: scale(0.90);
  transition: all 0.4s ease-in-out;
}

.owl-item.active.center {
  transform: scale(1.1);
  transition: all 0.4s ease-in-out;
  z-index: 5;
}

.owl-item.active.center .card {
  background-color: #f7faff;
}

.owl-item.active.center .card .border-top {
  background-color: #FFF;
  border-top: solid 1px #ddd;
}
